<ion-view>
	<ion-nav-title class="logo">
        <img src="http://placehold.it/120x30" alt="">
      </ion-nav-title>
	<ion-content has-subheader="false" id="challenge">
		<div class="challenge-header">
			<img src="http://placehold.it/720x480" alt="" class="challenge-image">
		</div>
		<h3 class="challenge-title">Challenge title</h3>
		<p class="challenge-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos similique harum error explicabo doloribus, veniam, odio repellendus exercitationem earum quisquam consequatur, facilis vero magnam voluptatem ullam labore, suscipit quo ab.</p>
		<div class="padding">
			<button class="button button-block button-join">Join the challenge</button>
			<button class="button button-block button-challengers" ng-click="showChallengers()">Challengers</button>
		</div>
	</ion-content>
</ion-view>