<ion-view view-title="home">
	<ion-nav-title class="logo">
        <img src="http://placehold.it/120x30" alt="">
      </ion-nav-title>
	<ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-funnel" menu-toggle="right">
        </button>
    </ion-nav-buttons>
	<ion-content has-subheader="false" id="home" scroll="false">
		<ion-scroll zooming="false" direction="y" style="width: 100%; height: 50vh">
		<ion-list>
			<ion-item class="item item-icon-right" ng-click="data.cityChallengesToggle = !data.cityChallengesToggle">
				My city challenges
				<span class="badge badge-positive">{{data.cityChallenges.length}}</span>
			</ion-item>
			<div class="list list-inset" ng-show="data.cityChallengesToggle">
				<div class="item item-icon-right" ng-repeat="cc in data.cityChallenges track by $index" ui-sref="app.challenge({id:$index})">
					<i class="icon ion-chevron-right"></i>
			      	{{cc}}
			    </div>
			</div>
			
			<ion-item class="item item-icon-right" ng-click="data.computerGraphicsToggle = !data.computerGraphicsToggle">
				Computer graphics
				<span class="badge badge-positive">{{data.computerGraphics.length}}</span>
			</ion-item>
			<div class="list list-inset" ng-show="data.computerGraphicsToggle">
				<div class="item item-icon-right" ng-repeat="cg in data.computerGraphics">
					<i class="icon ion-chevron-right"></i>
			      	{{cg}}
			    </div>
			</div>
			<ion-item class="item item-icon-right" ng-click="data.musicToggle = !data.musicToggle">
				Music
				<span class="badge badge-positive">{{data.music.length}}</span>
			</ion-item>
			<div class="list list-inset" ng-show="data.musicToggle">
				<div class="item item-icon-right" ng-repeat="cg in data.music">
					<i class="icon ion-chevron-right"></i>
			      	{{cg}}
			    </div>
			</div>
		</ion-list>
		</ion-scroll>
		<div class="map">
			<div id="challengesMap"></div>
			<button class="button new-challenge-btn" ng-click="openNewChallenge()">
		        <i class="icon ion-plus"></i>
		    </button>
		</div>

	</ion-content>
</ion-view>