<ion-view view-title="Invite friends" id="inviteFriends">
	<ion-content has-subheader="false">
		<div class="invite-btns padding">
			<button class="button button-block button-facebook icon-left ion-social-facebook">facebook</button>
			<button class="button button-block button-twitter icon-left ion-social-twitter">twitter</button>
			<button class="button button-block button-mail icon-left ion-ios-email-outline">mail</button>
			<button class="button button-block button-text icon-left ion-iphone">text</button>
		</div>
	</ion-content>
</ion-view>