<ion-view hide-nav-bar="true" id="login">
  <ion-content scroll="false">
  <div class="logo"><img src="http://placehold.it/350x150" alt=""></div>
  <div class="login-inputs padding">
    <input type="text" placeholder="login or email">
    <input type="password" placeholder="Password">
  </div>
  <div class="login-btns padding">
    <button class="button button-block button-signin" ui-sref="app.home">Sign in</button>
    <button class="button button-block button-facebook" ui-sref="app.home">Facebook</button>
  </div>

  <div class="signup padding">
    <p>Not a user yet?</p>
    <button class="button button-block button-signup" ui-sref="app.signup">Sign up</button>
  </div>
  <ion-footer-bar class="bar-light" style="height: 10%">
    <button class="button button-forgot">Forgot password?</button>
  </ion-footer-bar>
  </ion-content>
</ion-view>