/*
* @Author: jad
* @Date:   2016-09-10 18:48:04
* @Last Modified by:   jad
* @Last Modified time: 2016-09-11 09:59:34
*/

#signup .button-signup {
	background-color: #f0ad4e;
	color: #FFF;
}

#signup .signup-inputs {
	margin-top: 10%;
}

#signup .signup-inputs input{
	border: 1px solid #444444;
	height: 34px;
	width: 100%;
	margin-bottom: 5%;
	border-radius: 4px;
	padding-left: 10px;
}